<h1>Listing people</h1>

<table>
  <tr>
    <th><!-- Flags --></th>
    <th>Name</th>
    <th>Background</th>
    <th>Birthdate</th>
  </tr>

<% for person in @people %>
  <tr>
    <td><% if person.has_authentication %>icon<% end %></td>
    <td><%=h person.name %></td>
    <td><%=h person.background %></td>
    <td><%=h person.birthdate %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @people %>

<br />

<%= link_to 'New person', new_person_path %>
